
body {
    
    // background: url("../assets/img.JPG") 0 0 no-repeat;
    background-color: rgb(255, 246, 246);
    background-size: cover;
    div {
        background-color: rgb(153, 217, 168);
        margin-top: 500px;
    }
}